html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --sans: "Instrument Sans";

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fafafa;

  font-family: var(--sans);
  background: var(--bg);
  color: var(--text);
}

body {
  font: 400 16px/150% var(--sans);
}

/* TYPOGRAPHY */
.heading-m {
  font: 700 32px/150% var(--sans);

}

.heading-s {
  font: 700 16px/150% var(--sans);
}

.body-m {
  font: 400 16px/150% var(--sans);
  color: var(--text);
}

.body-s {
  font: 400 12px/150% var(--sans);
  color: var(--text);
}


.inputBox {
  display: flex;
  align-items: center;
  gap: 10px;

  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 10px 12px;
  background: #fff;

  transition: all 0.25s ease;
}


.inputBox:focus-within {
  border: 1px solid #633CFF !important;
  box-shadow: 0 6px 20px rgba(99, 60, 255, 0.18);
  transition: all 0.25s ease;
}

.primaryButton {
  width: 100%;
  padding: 12px;
  background: #633CFF;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primaryButton:hover {
  background: #BEADFF;
}

.primaryButton:active {
  transform: scale(0.98);
}